<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344754071860-u3nqq5bovvvm51rqbdkqr3luvtk8dg4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344754071860-u3nqq5bovvvm51rqbdkqr3luvtk8dg4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344754071860-1fabkgnl64jgi1kp7qhl6o73tgaf74oh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb0PtvUIuIAO3cl-Be_GcvbyxFCKhbpgo</string>
	<key>GCM_SENDER_ID</key>
	<string>344754071860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milkmatters.app</string>
	<key>PROJECT_ID</key>
	<string>milkmattersbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>milkmattersbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344754071860:ios:bd19065f9b694843b11d61</string>
	<key>DATABASE_URL</key>
	<string>https://milkmattersbackend.firebaseio.com</string>
</dict>
</plist>